:root {
  --gray-x-11-gray: hsl(0, 0%, 74%);
  --gainsboro: hsl(0, 0%, 88%);
  --black_90: hsla(0, 0%, 0%, 0.9);
  --light-red: hsl(0, 100%, 66%);
  --cultured: hsl(200, 12%, 95%);
  --cultured_2: hsl(0, 0%, 93%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --black_13: hsl(0, 0%, 13%);
  --onyx: hsl(0, 0%, 27%);
  --silver: hsl(0, 0%, 47%);

  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;

  
  --ff-poppins: 'Poppins', sans-serif;
  --ff-josefin-sans: 'Josefin Sans', sans-serif;

  --border-radius-md: 10px;
  --border-radius-sm: 5px;
 
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;

  --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}




/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

*, *::before, *::after {
  margin: 0; padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; color: var(--black); }

img {
  max-width: 100%;
  vertical-align: middle;
}

a,
img,
table,
tbody,
button,
ion-icon { display: block; }

strong { font-weight: 700; }

button {
  font: inherit;
  background: none;
  border: none;
}

input { 
  width: 100%;
  display: block;
}

input::placeholder { font: inherit; }

button { cursor: pointer; }

address {
  font-style: normal;
  line-height: 1.8;
}

html {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

body { background: var(--white); }

body::-webkit-scrollbar { width: 10px; }

body::-webkit-scrollbar-track { background: hsl(0, 0%, 95%); }

body::-webkit-scrollbar-thumb { background: hsl(0, 0%, 80%); }

body::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }

/*-----------------------------------*\
 * #REUSED STYLE
\*-----------------------------------*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  pointer-events: none;
  z-index: 15;
  transition: 0.5s ease;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}



/*-----------------------------------*\
 * #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

.container__2 {
  max-width: 1280px;
  margin: 0 auto; padding: 0 15px;
}


.has-scrollbar { padding-bottom: 5px; }

.has-scrollbar::-webkit-scrollbar { width: 12px; height: 1px; }

.has-scrollbar::-webkit-scrollbar-thumb {
  background: var(--cultured_2);
  border: 3px solid var(--white);
  border-radius: 20px;
}

.product-scrollbar {
  display: flex;
  gap: 25px;
  overflow-x: auto;
  padding-bottom: 20px;
  scroll-snap-type: inline mandatory;
}

.product-scrollbar > li {
  min-width: 100%;
  scroll-snap-align: start;
}

.product-scrollbar::-webkit-scrollbar { height: 10px; }

.product-scrollbar::-webkit-scrollbar-track {
  background: var(--white);
  border-radius: 20px;
  outline: 2px solid var(--black);
}

.product-scrollbar::-webkit-scrollbar-thumb {
  background: var(--black);
  border: 2px solid var(--white);
  border-radius: 20px;
}

.product-scrollbar::-webkit-scrollbar-button { width: calc(25% - 40px); }


.btn {
  background: var(--background, var(--black));
  color: var(--color, var(--white));
  font-family: var(--ff-josefin-sans);
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 14px 25px;
  border: 1px solid var(--border-color, var(--black));
}


.btn-secondary {
  --background: transparent;
  --border-color: var(--black);
  --color: var(--black);
}

.btn-secondary:is(:hover, :focus) { --background: hsla(0, 0%, 0%, 0.1); }





/*-----------------------------------*\
 * #HEADER
\*-----------------------------------*/

.header-user-actions { display: none; }

.header-main { 
  padding: 25px 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
}

.header-logo img { margin: auto; }

.header-search-container { 
  position: relative; 
}

.header-search-container .search-field {
  font-size: var(--fs-7);
  color: var(--onyx);
  padding: 10px 15px;
  padding-right: 50px;
  border: 1px solid var(--cultured_2);
}

.search-field::webkit-search-cancel-button { display: none; }

.search-btn-head, .search-btn {
  background: var(--black);
  position: absolute;
  top: 50%; right: 1px;
  transform: translateY(-50%);
  color: var(--white);
  font-size: 20px;
  padding: 8px;
  transition: color .2s ease;
}

.mobile-bottom-navigation {
  background: var(--white);
  position: fixed;
  bottom: 0; left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 0;
  box-shadow: var(--box-shadow);
  z-index: 5;
}

.mobile-bottom-navigation .action-btn,
.mobile-bottom-navigation .wishlist-btn,
.mobile-bottom-navigation .profile-btn,
.mobile-bottom-navigation .cart-btn,
.mobile-bottom-navigation .home-btn,
.mobile-bottom-navigation .notifications-btn,
.header-user-actions .profile-btn, 
.header-user-actions .wishlist-btn,
.header-user-actions .cart-btn {
  position: relative;
  font-size: 26px;
  color: var(--black_13);
  padding: 10px;
}

.header-user-actions .profile-btn:hover, 
.header-user-actions .wishlist-btn:hover,
.header-user-actions .cart-btn:hover { color: var(--silver); }

.mobile-bottom-navigation .count {
  background: var(--black_13);
  color: var(--white);
  position: absolute;
  top: 0; right: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  padding: 2px 4px;
  border-radius: 20px;
}

.mobile-bottom-navigation .action-btn, .mobile-bottom-navigation .cart-btn {
  display: flex;
  flex-direction: column;
}

.mobile-bottom-navigation span {
  font-weight: normal;
  font-size: 14px;
  color: var(--onyx);
}

.mobile-navigation-menu {
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  position: fixed;
  top: 0; left: -100%;
  width: 100%;  height: 100vh;
  max-width: 320px;
  padding: 20px;
  box-shadow: var(--box-shadow);
  overflow-y: scroll;
  overscroll-behavior: contain;
  transition: var(--transition-2);
  visibility: hidden;
  z-index: 20;
}


.mobile-navigation-menu.active {
  visibility: visible;
  left: 0;
}

.menu-top {
  padding-bottom: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-top .menu-logo {
  object-fit: cover;
  width: 100px;
  height: 50px;
  transform: translateX(5%);
}



.menu-close-btn {
  color: var(--white);
  font-size: var(--fs-4);
  font-weight: 600;
  transform: translateX(1%);
}

.menu-close-btn ion-icon { --ionicon-stroke-width: 50px; }

.mobile-menu-category-list { margin-bottom: 30px; }

.menu-category .accordion-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu-category-list .menu-category { border-bottom: 1px solid var(--cultured_2); }

.mobile-menu-category-list .menu-title {
  color: var(--cultured_2);
  font-size: var(--fs-6);
  font-weight: 500;
  padding: 12px 0;
}

.accordion-menu > div { font-size: 14px; }

.accordion-menu ion-icon {
  color: var(--cultured_2);
  --ionicon-stroke-width: 90px;
}

.accordion-menu.active .add-icon,
.accordion-menu .remove-icon { display: none; }

.accordion-menu,
.accordion-menu.active .remove-icon { display: block; }

.menu-category .submenu-category-list { margin-inline-start: 10px; }

.submenu-title {
  padding: 6px 0;
  font-size: var(--fs-6);
  color: var(--white);
  font-weight: 300;
}

.submenu-title:is(:hover, :focus) { color: var(--maximum-blue-green_10); }

.submenu-category-list {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
}

.submenu-category-list.active {
  max-height: 148px;
  visibility: visible;
  transition: .5s ease-out;
}

.menu-bottom .menu-category-list { margin-block-end: 20px; }

.menu-bottom .menu-category { border-bottom: none; }

.menu-bottom .menu-title {
  font-size: var(--fs-6);
  font-weight: 500;
  color: var(--white);
  padding: 12px 0;
}

.accordion-menu.active .caret-back { transform: rotate(-0.25turn); }

.menu-bottom .submenu-category-list {
  border: 1px solid var(--cultured_2);
  border-radius: var(--border-radius-md);
  padding: 0 15px;
  margin-inline-start: 0;
  box-shadow: var(--box-shadow);
}

.menu-bottom .submenu-category:not(:last-child) { border-bottom: 1px solid var(--cultured_2); }

.menu-social-container { 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; 
}

.menu-social-container .social-link {
  background: none;
  color: var(--white);
  font-size: 30px;
  padding: 10px;
  border-radius: var(--border-radius-md);
}



/*-----------------------------------*\
 * #PRODUCT SIDEBAR
\*-----------------------------------*/


.mobile-sidebar, .sidebar {
  border-right: 2px solid #e5e5e5;
  z-index: 5;
  position: fixed;
  display: flex;
  top: 100px;
  left: 0;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  transition: var(--transition-2);
  font-size: 14px;
}

.mobile-sidebar { visibility: hidden; }

.sidebar { 
  border-right: none;
  display: none;
  width: 240px; 
  height: 80vh;
}

.mobile-sidebar {
  padding-top: 20px;
  left: -100%;
  top: 0;
}

.mobile-sidebar.active {
  background: var(--white);
  visibility: visible;
  height: 100%;
  left: 0;
  width: 280px;
  overflow-y: auto;
  z-index: 20;
}

.mobile-sidebar .head-container {
  display: flex;
  justify-content: space-between;
}

.mobile-sidebar .head-container ion-icon { 
  transform: translateX(-100%); 
  margin-right: 10px;
  font-size: 20px;
}

.mobile-sidebar > div {
   width: 100%;
   margin-left: 30px;
}

.sidebar > div {  width: 70%; }

.sidebar h3, .sidebar span {
  font-size: 14px;
}

.categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
}

.sidebar-label-container {
  display: block;
  position: relative;
  font-size: 15px;
  margin-bottom: 5px;
  margin-right: 10px;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.colors  {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
}

.colors .sidebar-label-container {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.colors .circle {
  width: 25px; 
  height: 25px; 
  border-radius: 50%;
}

.sidebar-label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: var(--cultured_2);
  border-radius: 50%;
}



.sidebar-label-container:hover input ~.checkmark { background-color: #ccc; }

.sidebar-label-container input:checked ~.checkmark { background-color: #2196f3; }

.sidebar-label-container input:checked ~.checkmark::after { display: block; }

.sidebar-label-container .checkmark::after {
  content: "";
  position: relative;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--white);
}


.head-container { 
  margin-top: 1rem;
  padding-right: 20px;
}

.head-container h3 { 
  padding-bottom: 10px; 
  font-size: 18px;
  padding-left: 0;
  text-align: center;
}


.sidebar-title { 
  border-top: 1px solid var(--gainsboro);
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 10px;
  font-size: 16px;
  width: 80%;
  padding-left: 5px;
  font-weight: 600; 
}




/*-----------------------------------*\
 * #End sidebar
\*-----------------------------------*/

/*-----------------------------------*\
 * #MAIN
\*-----------------------------------*/

.main-content {
  padding-bottom: 200px;
}

.recommended {
  margin-left: 30px;
}
.recommended-title {
  margin: 20px 30px;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 1px;
}

.recommended {
  display: flex;
  overflow-x: auto;
}

.r-btns {
  padding: 10px 20px;
  margin-right: 6px;
  background: transparent;
  border: 0.6px solid var(--cultured);
  border-radius: 5px;
  color: var(--black_90);
  cursor: pointer;
  font-size: 15px;
}

.r-btns.active {
  color: var(--white);
  background: var(--black_90);
  border-color: none;
}

.product-container {
  margin-left: 30px;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.product-box {
  display: flex;
  flex-direction: column;
  width: 80vw;
  padding: 10px 10px 0;
  margin: 0 5px;
}


.product-box:hover { 
  box-shadow: var(--box-shadow); 
  transition: var(--transition-1);
}

.product-img img {
  width: 100%; height: 30%;
  object-fit: cover;
  cursor: pointer;
}

.product-text-box {
  margin-top: 5px;
  width: 100%;
}

.product-title {
  color: var(--black_90);
}

.product-reviews {
  font-size: 12px;
  color: var(--onyx);
}


.product-reviews i { 
  color: #ffc107; 
  font-size: 14px;
}


.product-title:hover { text-decoration: underline; }

.product-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.product-title { 
  display: block;
  font-size: 16px; 
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-price span { 
  font-size: 15px; 
  font-weight: 600;
  color: var(--light-red);
}

.product-price .before { 
  text-decoration: none;
  font-size: 10px;
  color: var(--light-red);
  border: 1px solid orangered;
  font-weight: 600;
  margin-left: 5px;
}
.product-price i {
  padding: 5px;
  font-size: 17px;
}

.product-price i:hover {
  color: var(--white);
  background-color: var(--black);
  border-radius: 50%;
  transition: var(--transition-1);
}

/*-----------------------------------*\
 * #END PRODUCT DETAILS
\*-----------------------------------*/



/*-----------------------------------*\
 * #PRODUCT DETAILS
\*-----------------------------------*/


.product-details-mobile, .product-details {
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  display: block;
  padding-block: 80px;
}

.holder {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.desktop-title {
  display: none;
}

.product-images {
  display: none;
}

.side-product-mobile {
  width: 100%;
  display: flex;
  overflow-x: auto;
}

.side-product-mobile img {
  flex-shrink: 0;
  width: 100%;
  max-width: none;
  height: auto;
  object-fit: cover;
}

.mobile-title {
  margin-left: 20px;
}

.mobile-title h2 {
  font-size: 32px;
  font-weight: 500;
}

.mobile-title .brand, .desktop-title .brand {
  font-weight: 600;
  font-size: 18px;
  color: var(--silver);
}

.product-contents {
  display: flex;
  flex-direction: column;
  width: 90vw;
}

.price-info {
  padding-block: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.price-info .current {
  color: var(--light-red);
  font-weight: 700;
  font-size: 25px;
  font-family: Arial Black;
}

.price-info .before {
  color: var(--silver);
  text-decoration: line-through;
  opacity: 0.5;
  margin-right: 4px;
}

.price-info .discount {
  font-size: 14px;
  color: var(--white);
  background: var(--black);
  padding: 0.1rem 0.8rem;
}



.sizes .sizes-heading {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 10px;
  margin: 0 5px;
}

.sizes fieldset {
  outline: none;
  border: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  max-width: 90vw;
}

.sizes label {
  position: relative;
  display: inline-block;
  padding: 1px 0.5rem 1rem;
  text-align: center;
  border: 1px solid var(--gainsboro);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.sizes input {
  opacity: 0;
}

.sizes label input:checked ~.selected {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  top: 0;
  left: 0;
}

.sizes input:disabled > label {
  opacity: 0.2;
}

.product-description {
  line-height: 1.75;
  font-weight: 500;
  font-size: 18px;
  padding-block: 30px;
}

.product-details ul li {
  list-style-type: disc;
  padding-block: 20px;
  margin-left: 20px;
}

.modal {
  font-family: 'Poppins', sans-serif;
  text-decoration: underline;
  padding-top: 20px;
  cursor: pointer;
}

.bag-btn, .fav-btn {
  display: block;
  background-color: #000;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  padding: 1.3rem 1.7rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  margin-block: 10px;
}

.fav-btn {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid black;
}

.bag-btn:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.bag-btn:hover {
  transform: scale(1.05);
}

.product-dropdown {
  position: relative;
  margin: 40px 0;
  display: block;
  transition: 0.15s ease;
}

.product-dropdown.active .arrow {
  transform: rotate(45deg) translate(-5px, -5px);
}

.product-dropdown.active .arrow:before {
  transform: translate(10px, 0);
}

.product-dropdown.active .arrow:after {
  transform: rotate(90deg) translate(10px, 0);
}

.product-dropdown.active .product-dropdown-items {
  opacity: 1;
  height: auto;
}

.arrow {
  width: 12px;
  height: 12px;
  display: inline-block;
  position: relative;
  bottom: -10px;
  left: -10px;
  transition: 0.4s ease;
  margin-top: 2px;
  text-align: left;
  transform: rotate(45deg);
  float: right;
}

.arrow:before,
.arrow:after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 12px;
  height: 2px;
  background-color: var(--black);
  transition: 0.4s ease;
}

.arrow:after {
  position: absolute;
  transform: rotate(90deg);
  top: -5px;
  left: 5px;
}

.shipping-reviews-text {
  text-align: left;
  padding: 12px 12px;
  font-weight: 500;
  margin: 0;
  font-size: 20px;
  cursor: pointer;
  color: #000;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
}

.shipping-reviews-text i { color: gold; }

.product-dropdown.active .shipping-reviews-text {
  border-bottom: none;
}

.product-dropdown .product-dropdown-items {
  padding-left: 10px;
  height: 0;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  opacity: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}





/*-----------------------------------*\
 * #END PRODUCT DETAILS
\*-----------------------------------*/


/*-----------------------------------*\
 * #ABOUT
\*-----------------------------------*/



.about-cs .about-hero {
  background: var(--light-red);
  height: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  position: relative;
}


.about-cs .content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 500px;
  position: relative;
}

.about-cs .content h3 {
  
  font-size: 35px;
  font-weight: 600;
}

.about-cs .content .btn {
  width: 150px;
  padding-top: 15px;
  border-radius: 5px;
}




/*-----------------------------------*\
 * #FOOTER
\*-----------------------------------*/

.footer .logo { display: none; }

.footer {
  background-color: var(--cultured);
  padding-block: 70px;
}

.footer-top {
  display: grid;
  gap: 40px;
  margin-block-end: 60px;
}

.footer-list-title {
  color: var(--black);
  font-size: var(--fs-5);
  font-weight: 700;
  margin-block-end: 5px;
  font-family: var(--ff-josefin-sans);
}

.footer-link { 
  font-size: var(--fs-7); 
  padding-block: 5px;
  color: var(--silver);
  font-family: Arial, Helvetica, sans-serif;
}

.footer-link:is(:hover, :focus) { 
  color: var(--black_90);
  transition: var(--transition-2);
}

.newsletter-title,
.socials-title {
  color: var(--black);
  font-size: 34px;
  font-family: var(--ff-josefin-sans);
  font-weight: 600;
  line-height: 1.3;
}

.socials-title { font-size: 20px; }

.newsletter-text,
.payment-text {
  font-size: var(--fs-7);
  line-height: 1;
  font-family: 'Segoe UI', sans-serif;
  color: var(--black_13);
  text-transform: uppercase;
  font-weight: 700;
  margin-block: 20px;
}

.footer-top .social-link ion-icon {
  font-size: 28px;
  margin-block: 20px;
}

.newsletter-form { position: relative; }

.email-field {
  background-color: var(--white);
  font-size: var(--fs-7);
  padding: 12px 18px;
  padding-inline-end: 145px;
  border: 1px solid var(--maximum-blue-green_10);
  border-radius: 3px;
  outline: none;
  transition: var(--transition-2);
}

.email-field::placeholder { color: var(--gray-x-11-gray); }

.email-field:focus { border-color: var(--black); }

.newsletter-form .btn {
  position: absolute;
  top: 0; right: 0; bottom: 0;
}

.copyright { 
  font-size: var(--fs-8); 
  color: var(--silver);
  display: flex;
}

.copyright ion-icon { 
  --ionicon-stroke-width: 30px;
  padding: 2px;
  color: var(--black);
}


.socials-list {
  display: flex;
  gap: 20px;
}




/*-----------------------------------*\
 * #MEDIA QUERIES
\*-----------------------------------*/



@media (min-width: 480px) {
  :root { --fs-1: 1.875rem; }

  .header-alert-news {
    color: var(--black);
    text-align: center;
    font-size: var(--fs-7);
    text-transform: uppercase;
  }

  .mobile-bottom-navigation {
    border-top-left-radius: var(--border-radius-md);
    border-top-right-radius: var(--border-radius-md);
  }

}



@media (min-width: 570px) {
  .header-main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-logo { margin-bottom: 0; }
  
  .header-search-container { min-width: 300px; }
  
 
  .product-container { 
    grid-template-columns: repeat(2, 1fr); 
    margin-left: 50px;
  }

  .product-box { width: 40vw; }

  .footer-top { grid-template-columns: repeat(3, 1fr); }
  
  .footer-list:last-child { grid-column: 1 / 4; }
  
  .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer-bottom .footer-wrap { margin-block-end: 0; }
}



@media (min-width: 768px) {
  :root { --fs-1: 2.375rem }

  html { font-size: 17px; }

  .container {
    max-width: 750px;
    margin: auto;
  }

  .header-main .container { gap: 80px; }

  .header-search-container { flex-shrink: 1; }

  .product-container { grid-template-columns: repeat(3, 1fr); }

  .product-box { width: 250px; }




  /*Footer */

} 

@media (min-width: 900px) {


  .product-details-mobile { display: none; }

  .holder { 
    flex-direction: row; 
    width: 80vw;
    gap: 20px;
  }

  .product-images {
    margin-right: 50px;
    display: flex;
    gap: 10px;

  }

  .product-images img {
    object-fit: cover;
    border-radius: 12px;
  }


  .product-images .side-product {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 70px;
    max-width: 70px;
    height: 100%;
  }

  .product-images .side-product img:is(:hover, :focus) { filter: brightness(90%); }


  .product-preview { 
    position: relative;
    width: 340px; 
    height: auto;
  }

  .product-preview img {
    object-fit: cover;
  }



  .preview-buttons {
    position: absolute;
    right: 20px;
    display: flex;
    gap: 10px;
    transform: translateY(calc(100% - 80px));
  }

  #next, #back {
    font-size: 22px;
    padding-bottom: 20px;
    font-weight: 500;
    width: 35px;
    height: 35px;
    background: var(--white);
    border-radius: 100%;
  }

  .product-contents { 
    width: 500px;
  }

  .desktop-title { display: block; }

}

@media (min-width: 1024px) {
  
}




@media (min-width: 1100px) {
  :root {
    --fs-1: 2.625rem;
    --fs-2: 1.125rem;
  }

  .container { max-width: 1024px; }

  /* HEADER */
  .header-socials-container {
    display: flex;
    align-items: center;
    gap: 5px;
  }

 
  .header-search-container { visibility: hidden; }

  .header-user-actions {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .header-user-actions .header-search-container { visibility: visible; }

  .header-user-actions .action-btn {
    position: relative;
    font-size: 22px;
    color: var(--onyx);
    padding: 5px;
  }

  .header-user-actions .count {
    position: absolute;
    top: -1px; right: -2px;
    background: var(--black);
    color: var(--white);
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    padding: 2px 4px;
    border-radius: 20px;
  }

  

  .mobile-bottom-navigation { display: none; }

  .panel-list-item a {
    color: var(--silver);
    font-size: var(--fs-7);
    text-transform: capitalize;
    transition: var(--transition-1);
  }

  .panel-list-item a:hover { color: var(--black); }

  .main-content { margin-left: 250px; }

  .sidebar { display: flex; }

 
  .product-container { 
    grid-template-columns: repeat(3, 1fr); 
    margin-left: 0;
  }

  .holder { width: 85vw; }

  .product-preview { width: 480px; }

  .footer { 
    padding: 100px 80px 0; 
  }


  .footer-top {
    grid-template-columns: 0.4fr 0.4fr 0.4fr 1fr;
    margin-block-end: 120px;
  }

  .footer-list:last-child { grid-column: auto; }

  .footer-bottom {padding-block-end: 20px;}



  
}

@media (min-width: 1200px) {
  .container { max-width: 1100px; }

  .product-container { grid-template-columns: repeat(4, 0.19fr); }

  .product-box { width: 220px; }

  .product-preview { width: 580px; }

}



@media (min-width: 1400px) {
  html { font-size: 18px; }

  .container { max-width: 1510px; }

  .main-content { margin-left: 300px; }

  .sidebar { width: 280px; }

  

  .product-container { 
    grid-template-columns: repeat(5, 0.19fr); 
    overflow: hidden;
  }

  .product-box {
    width: 300px;
  }

  .product-images { transform: translateX(10%); }

  .product-contents { width: 500px; }

  .holder { gap: 100px; }

  .product-preview { width: 640px; }

  .preview-buttons {
    right: 50px;
    gap: 10px;
    transform: translateY(calc(100% - 90px));
  }

}